// Breakpoints in SCSS (correlates with breakpoint of Material UI) (https://mui.com/material-ui/customization/breakpoints/#custom-breakpoints)
$min-xs: 0;
$max-xs: 599.9px;
$min-sm: 600px;
$max-sm: 899.9px;
$min-md: 900px;
$max-md: 1199.9px;
$min-lg: 1200px;
$max-lg: 1535.9px;
$min-xl: 1536px;